body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-right: 25px;  
}

.column {
    width: 100%;
    max-width: 1170px;
    max-width: 100px;
    height: 936px;
    margin-left: 25px;
    background: #f3e3dd;
    display: inline-block;
}

.header-text {
    color: #3c3c3c;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8.95px;
}

hr {
    width: 45px;
    height: 4px;
    background-color: #dddbdb;
    opacity: 0.5;
    border: none;
}

.main-text {
    width: 561px;
    height: 39px;
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.first-text {
    color: #282528;
    font-size: 18px;
    font-weight: 700;
}

.second-text {
    font-weight: 300;
    color: #646464;
    font-size: 14px;
    font-weight: 300;
    margin-top: -12px;
}

.all-text {
    position: relative;
    top: -850px;
}

.all-pictures {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    top: -740px;
}

.card {
    position: relative;
    display: inline-block;
}
  
img {
    vertical-align: middle;
    opacity: 0.9;
}
  
.overlay {
    position: absolute;
    width: 269px;
    height: 268px;
    top: 0;
    left: 0;
    background: rgba(0, 174, 217, 1);
    opacity: 0;
    transition: opacity .3s;
}

.links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.card:hover .overlay {
    opacity: 0.9;
}
